*{
	margin: 0;
	padding: 0;
}

html {
  font-family: 'Georgia';
}

h1 {
	font-size: 36px;
	color: black;
}

.wrapper {
	width: 900px;
	margin: 0 auto;
}

.logo {
	display: block;
	float: left;

}

.logo p{
	font-size: 12px;
	color: #999999;
}

.menusoc {
	float: right;
	display: block;
	width: 33%;
}

.socialLinks {
	position: relative;
	float: right;
	
}

.socialLinks li {
	width: 35px;
	height: 35px;
	background-color: black;
	display: inline-block;
	margin : 10px;
	border-radius: 50%;
	text-align: center;
}

.socialLinks li a img {
	display: block;
	text-align: center;
}




.menu {
	float: right;
}

.menu li {
	list-style:none;
	display: inline-block;	
}

.menu a{
	display:block;
}

.navigation {
	height: 70px;
	background: #81b300;
}

form {
	display: block;	

}

.search{
	float:right;
	display: block;
	padding: 0 30px;

}

input[type=text] {
	font-size: 12px;
	height:32px;

}
button{
	font-size: 12px;
	text-transform: uppercase;
	height:32px;
	background-color: white; 	
}

.navigation {
	float: right;
	width: 100%;
}

.navigation ul {
	line-height: 70px;
}

.navigation ul li {
	list-style: none;
	font-size: 13px;
	
	padding-left: 10px;
	color: white;
	text-transform: uppercase;
	display:inline;	
}

<!-------><----->



/*.sl {
	height: 360px;
	margin: 50px auto 0;
	position: relative;
	width: 880px;
}

.sl > input {
	display: none;
}


.slider {
	background-color: #333;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
}

.img1 { background-image: url(img1.jpg); }
.img2 { background-image: url(img2.jpg); }
.img3 { background-image: url(img3.jpg); }
.img4 { background-image: url(img4.jpg); }
.img5 { background-image: url(img5.jpg); }


.sl .control {
	position: absolute;
	margin-left: -50px;
	left: 50%;
}


.sl label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 10px;
	position: relative;
	width: 8px;
	border-radius: 20%;
}
.sl label:after {
	border: 2px solid grey;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 20%;
}


#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3),
#point4:checked ~ .control label:nth-of-type(4),
#point5:checked ~ .control label:nth-of-type(5),
 {
background: black;
}

#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3,
#point4:checked ~ .slider > .img4,
#point5:checked ~ .slider > .img5{
opacity: 1;
z-index: 1;
}
*/



<!-------><----->



.services {
	overflow: hidden;
	display: inline;
	text-align: left;
	
}

.services table{
	width: 900px;
	margin: 0 auto;
	float: center;
	
}

.services  th a img{
	display: block;
	margin: 0 auto;
	padding: 50px 0 20px 0;
} 

.services h2{
	font-size: 18px;
	text-align: center;
}

.services p{
	font-size: 13px;
	text-align: center;
	width:210px;
}

<!-------><----->

.latestwork {
	overflow: hidden;
	display: inline;
	text-align: left;	
}

.latestwork table{
	width: 900px;
	margin: 0 auto;
	float: center;	
}

.lastestwork th{
	padding:50px 0 ;

}

.latestwork th a img{
	display: block;
	margin: 0 auto;
	padding:50px 0;
} 
.latestwork h3{
	font-size: 14px;
	text-align: left;
}

.latestwork h5{
	font-size: 13px;
	text-align: right;
	color: #81b300 ;
}
.latestwork p{
	font-size: 13px;
	text-align: left;
	width:210px;

}

<!-------><----->

.footer {
	float:center;
	overflow: hidden;
	display: inline;
	text-align: left;
}

.footer table{
	background-color: #3b3b3b;
	color:#999999;	
	width: 900px;
	margin: 0 auto;
	
}
.footer th{
	padding:50px 0 40px ;
	float: left;
}

.footer tr{

}

.footer li{
	list-style:none;
	font-size: 12px;
	text-align: left;
}
.footer h3{
	font-size: 13px;
	text-align: left;

}
.footer h4{
	font-size: 11px;
	text-align: left;
}
.footer h5{
	font-size: 13px;
	text-align: left;
}

.footer p{
	font-size: 13px;
	width:210px;
	text-align: left;
}

.copyright{
	position: relative;
	width: 900px;
	height: 60px;
	margin: 0 auto;
	color:#999999;	
	background-color:  #2e2e2e;
	font-size: 12px;
}